* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #e2d2bb;
  border-radius: 5px;
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.9); /* Add a subtle box shadow */
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #e4c79d;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
}

html {
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  height: 8vh;
  background-color: rgb(239, 171, 48);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 7;
}

#music {
  position: relative;
  background-color: rgb(239, 171, 48);
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  border: 1px solid rgb(239, 171, 48);
  box-shadow: 0px 0px 2px 1px white;
  color: white;
  font-weight: 900;
  cursor: pointer;
  animation: pulse-animation_0011 1.1s infinite ease-in-out;
}

#music.paused::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 65px;
  background-color: rgb(255, 0, 0);
  transform: translate(-50%, -50%) rotate(67deg);
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.nav__img {
  width: 50vw;
  height: 6vh;
  margin-right: 5em;
}

.home {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 30vh 21vh 15vh 25vh;
}
.home__div-modifier {
  color: rgb(132, 147, 208);
  font-size: 2rem;
}
.home__div-coach {
  width: 40vw;
  height: 18vh;
  border-radius: 50%;
}
.home__div-button {
  cursor: pointer;
  background-color: rgb(239, 171, 48);
  border-radius: 5rem;
  height: 3rem;
  width: 8rem;
  margin: 1rem;
  font-weight: bold;
  color: white;
  box-shadow: 1px 1px 5px 1px;
}
.home__div {
  width: 100%;
}
.home__div-img {
  width: 100%;
}
.home__div-modifier3 {
  display: grid;
  justify-content: center;
}

.buttons__bottom--first,
.home__div-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 150px;
  height: 60px;
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 50px;
  padding-left: 35px;
  box-shadow: 2.9px 2.9px 2.2px rgba(0, 0, 0, 0.019), 5.2px 5.2px 5.3px rgba(0, 0, 0, 0.023), 7px 7px 10px rgba(0, 0, 0, 0.025), 8.7px 8.7px 17.9px rgba(0, 0, 0, 0.024), 11.3px 11.3px 33.4px rgba(0, 0, 0, 0.023), 20px 20px 80px rgba(0, 0, 0, 0.02);
}

.pika {
  position: absolute;
  top: -160%;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: auto;
  transition: 0.5s all;
  animation: tilt 1.1s infinite ease-in-out;
}

button:hover .pika {
  top: 0%;
}

.modal {
  display: none; /* Oculta la ventana modal por defecto */
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  overflow: auto;
}

.modal-content {
  background-color: #fff;
  margin: 60% auto;
  padding: 20px;
  border: 1px solid #ccc;
  width: 300px;
  text-align: center;
}

.modal-content img {
  max-width: 100%;
  max-height: 150px;
  animation: fade-in 3s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes tilt {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.1);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
.go {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1;
  z-index: 2;
}

button:hover .go {
  visibility: hidden;
}

@keyframes pulse-animation_0011 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.buttons__bottom-second-modifier {
  padding-left: 0;
}

.coders {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.coders__img {
  height: 5.8vh;
  width: 13vw;
}
.coders__name {
  text-align: center;
}
.coders-second-modifier {
  background-color: rgb(132, 147, 208);
}

.buttons__top {
  display: flex;
  justify-content: center;
}
.buttons__top--addremove {
  color: rgb(132, 147, 208);
  background-color: #fff;
  border: rgb(132, 147, 208);
  border-radius: 5rem;
  height: 3rem;
  width: 8rem;
  margin: 1rem;
  font-weight: bold;
  box-shadow: 1px 1px 5px 1px rgb(129, 129, 129);
  cursor: pointer;
}
.buttons__top .add__modal {
  display: none;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}
.buttons__top .add__modal--content {
  background-color: #fff;
  margin: 60% auto;
  padding: 20px;
  border: 1px solid #ccc;
  width: 300px;
  text-align: center;
}
.buttons__top .add__modal--close {
  position: relative;
  top: 0%;
  left: 50%;
  font-size: 1.5rem;
  cursor: pointer;
}
.buttons__top .add__modal--close:hover {
  color: red;
}
.buttons__top .add__modal--content input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
}
.buttons__top .add__modal--content button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.buttons__top .add__modal--content button:hover {
  background-color: #45a049;
}
.buttons__top .available__images--container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
.buttons__top .add__coder {
  position: relative;
  top: 0%;
  bottom: 50%;
}

.buttons__bottom {
  display: flex;
  justify-content: center;
}
.buttons__bottom--first {
  color: #fff;
  background-color: rgb(239, 171, 48);
  border: #fff;
  border-radius: 5rem;
  height: 3rem;
  width: 8rem;
  margin: 1rem;
  font-weight: bold;
  box-shadow: 1px 1px 5px 1px rgb(129, 129, 129);
}
.buttons__bottom-second-modifier {
  background-color: rgb(132, 147, 208);
}

@media screen and (min-width: 720px) {
  .header {
    display: flex;
    padding: 0%;
    width: 100%;
    height: 12vh;
    background-color: rgb(239, 171, 48);
    align-items: center;
    z-index: 7;
  }
  .nav__logo1 {
    height: 100%;
    width: 90%;
    margin-right: 0.3%;
  }
  .nav__img {
    width: 20%;
  }
  .home__div {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .home__div-img {
    width: 60%;
    height: 60%;
    margin-top: 5%;
    align-content: center;
  }
  .home__div-text {
    font-size: 1.5rem;
    margin-top: 5%;
    text-align: center;
    color: rgb(132, 147, 208);
  }
  .home__div-coach {
    display: flex;
    width: 10vh;
    height: 10vh;
    align-content: center;
    justify-content: center;
    margin-top: 3%;
    border-radius: 7.5vh;
  }
  .home__div-button {
    display: flex;
    margin-top: 2%;
    width: 18rem;
    height: 3.5rem;
    border-radius: 1.7rem;
    background-color: rgb(239, 171, 48);
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 900;
    color: #fff;
    border-color: #fff;
  }
  .home__game-link {
    text-decoration: none;
  }
  /*DESKTOP CODERS*/
  .modal-content {
    margin: 16% auto;
  }
  .coders {
    min-height: 80vh;
    max-height: 150vh;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    text-align: center;
    gap: 0;
  }
  .coders__person {
    margin: 1rem;
  }
  .coders__img {
    height: 6vh;
    width: 3vw;
  }
  .buttons__top {
    display: flex;
    justify-content: center;
  }
  .buttons__top--addremove {
    color: rgb(132, 147, 208);
    background-color: #fff;
    border: rgb(132, 147, 208);
    border-radius: 5rem;
    height: 3rem;
    width: 8rem;
    margin: 1rem;
    font-weight: bold;
    box-shadow: 1px 1px 5px 1px rgb(129, 129, 129);
  }
  .buttons__top .add__modal--content {
    margin: 10% auto;
  }
  .buttons__bottom {
    display: flex;
    justify-content: center;
  }
  .buttons__bottom--first {
    color: #fff;
    background-color: rgb(239, 171, 48);
    border: #fff;
    border-radius: 5rem;
    height: 3rem;
    width: 8rem;
    margin: 1rem;
    font-weight: bold;
    box-shadow: 1px 1px 5px 1px rgb(129, 129, 129);
  }
  .buttons__bottom-second-modifier {
    background-color: rgb(132, 147, 208);
  }
}/*# sourceMappingURL=style.css.map */