* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
    width: 100%;
    height: 100%;
}
  
html {
    scroll-behavior: smooth;
}
.header {
  
}
.nav {
  &__img {
  }
  &__logo1 {
  }
}
.buttons {
    &__div-button {
    }
    &__div-button-modifier {
    }
    &__div-button-modifier2 {
    }
    &__div-button-modifier3 {
    }
  }
 
.home {
    &__div {
    }
    &__div-button {
    }
    &__div-coach {
    }
    &__div-img {
    }
    &__div-modifier {
    }
    &__div-modifier2 {
    }
    &__div-modifier3 {
    }
    &__div-text {
    }
}

.coders {
    &__img {
    }
    &__name {
    }
    &__person {
    }
}
 