$background-header-button: rgba(239, 171, 48, 1);
$background-text: rgba(132, 147, 208, 1);
$box-shadow: rgba(129, 129, 129, 1);
$white-text-button: #ffffff;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: white;
}

html {
    scroll-behavior: smooth;
}

.header{
    width: 100%;
    height: 6vh;
    background-color: $background-header-button;
    position: sticky;
    top: 0;
}

.nav{
    width: 100%;
    &__img{
        width:60vw;
        height: 5vh;
        margin-top: 0.75%;
    }
}

.home{
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 30vh 21vh 15vh 25vh;
    &__div-modifier{
        color: $background-text;
        font-size: 2rem;
    }
    &__div-coach{
        width: 40%;
        border-radius: 50%;
    }
    &__div-button{
        background-color: $background-header-button;
        border-radius: 5rem;
        height: 3rem;
        width: 8rem;
        margin: 1rem;
        font-weight: bold;
        color:white;
    }
    &__div{
        width: 100%;
    }
    &__div-img{
        width: 100%;
    }
}


//CODERS-PHONE

.coders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    &__img {
        height: 7vh;
        width: 7vh;
    }
    &__name {
        text-align: center;
    }
    &__person-modifier {
        grid-column: 2/4;
        justify-self: center;
    }
}

.buttons__top {
    display: flex;
    justify-content: center;
    &--addremove {
        color: $background-text;
        border-color: $background-text;
        border-radius: 5rem;
        height: 3rem;
        width: 8rem;
        margin: 1rem;
        font-weight: bold;
    }
}

.buttons__bottom {
    display: flex;
    justify-content: center;

    &--first {
        color: #ffffff;
        background-color: $background-header-button;
        border-radius: 5rem;
        height: 3rem;
        width: 8rem;
        margin: 1rem;
        font-weight: bold;
    }

    &-second-modifier {
        background-color: $background-text;
    }
}

/*DESKTOP CODERS*/

@media (min-width: 800px) {
    .coders {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        place-items: center;
        text-align: center;
        gap: 0;
    &__person {
        margin: 1rem;
    }
    &__person-modifier {
        grid-column: 5/6;
    }
    }

    .buttons__top {
        display: flex;
        justify-content: center;
        &--addremove {
            color: $background-text;
            border-color: $background-text;
            border-radius: 5rem;
            height: 3rem;
            width: 6rem;
            margin: 1rem;
            font-weight: bold;
        }
    }

    .buttons__bottom {
        display: flex;
        justify-content: center;

        &--first {
            color: #fff;
            background-color: $background-header-button;
            border-radius: 5rem;
            height: 3rem;
            width: 6rem;
            margin: 1rem;
            font-weight: bold;
        }

        &-second-modifier {
            background-color: $background-text;
        }
    }
}
