$background-header-button: rgba(239, 171, 48, 1);
$background-text: rgba(132, 147, 208, 1);
$box-shadow: rgba(129, 129, 129, 1);
$white-text-button: #ffffff;

/*DESKTOP CODERS*/

.coders {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    place-items: center;
    text-align: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
    width: 100%;
    height: 100%;
    background-color: white;
}
  
html {
    scroll-behavior: smooth;
}
.header {
}
.nav {
    background-color: #EFAB30;
    height: 45px;
    width: 100%;
  &__img {
    height: 35px;
    width: 220px;
  }
  &__logo1 {
  }
}

.coders__img {
    width: 4rem;
    height: 4rem;
}

.buttons__top {
    display: flex;
    justify-content: center;
    &--addremove {
        color: $background-text;
        border-color: $background-text;
        border-radius: 5rem;
        height: 3rem;
        width: 6rem;
        margin: 1rem;
        font-weight: bold;
    }
}

.buttons__bottom {
    display: flex;
    justify-content: center;

    &--first {
        color: #fff;
        background-color: $background-header-button;
        border-radius: 5rem;
        height: 3rem;
        width: 6rem;
        margin: 1rem;
        font-weight: bold;
    }

    &-second-modifier {
        background-color: $background-text;
    }
}

.game {
    
}

//CODERS-PHONE

.coders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    &__img {
        height: 7vh;
        width: 7vh;

    }
    &__name {
        text-align: center;
    }

    &-second-modifier {
        background-color: $background-text;
    }
}

.coder-only {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.only-coder{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}


.buttons__top {
    display: flex;
    justify-content: center;
    &--addremove {
        color: $background-text;
        border-color: $background-text;
        border-radius: 5rem;
        height: 3rem;
        width: 8rem;
        margin: 1rem;
        font-weight: bold;
    }
}

.buttons__bottom {
    display: flex;
    justify-content: center;

    &--first {
        color: #ffffff;
        background-color: $background-header-button;
        border-radius: 5rem;
        height: 3rem;
        width: 8rem;
        margin: 1rem;
        font-weight: bold;
    }

    &-second-modifier {
        background-color: $background-text;
    }
}